body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;

}

@font-face {

	font-family: 'coolvetica_rg';
	src: url('../fonts/coolvetica rg.ttf');

}

@font-face {

	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.ttf');

}

@font-face {

	font-family: 'Raleway-SemiBold';
	src: url('../fonts/Raleway-SemiBold.ttf');

}

@font-face {

	font-family: 'raleway-regular';
	src: url('../fonts/raleway-regular.ttf');

}

#accueil {
	background-color: #248cf6;
}

#accueil .navbar {
	background-color: #248cf6 !important;
	width: 100%;
	height: 100vh;
	font-family: 'Lato-Regular';
	font-size: 2rem;
}

#accueil ul {
	padding-top: 30px;
	padding-bottom: 50px;
	border-right: 5px solid #367fc9;
}

#accueil a {
	color: white !important;
}

#accueil h1 {
	font-family: 'coolvetica_rg';
	font-size: 10rem;
	font-weight: bold;
}

#accueil .titre {
	margin: auto;
	color: white;
}

#accueil #stitre {
	font-family: 'Lato-Regular';
	font-size: 5rem;
	font-weight: bold;
}

/*===   about ====*/

.about {
	height: 100%;
	width: 100%;
	background-color: #eceff1;
}

.fin {
	padding-top: 10%;
	height: 100%;
	width: 100%;
}

h3 {
	font-family: 'Raleway-SemiBold';
	color: #248cf6;
	font-size: 48px;
}

#quand {
	font-size: 28px;
	font-family: 'raleway-regular';
	color: #302f31;
}

#quoi {
	font-size: 28px;
	font-family: 'raleway-regular';
	color: #302f31;
}

.fin1 {

	padding-top: 3%;
}

.mot {
	font-size: 28px;
	font-family: 'raleway-regular';
	color: #302f31;
}

.if {
	color: #db2b6d;
	font-size: 28px;

}

.chevron {
	margin-left: 34%;
}


/* Fonts */

@font-face {
	font-family: 'cool';
	src: url(../fonts/coolveticarg.ttf);
}

@font-face {
	font-family: 'lato';
	src: url(../fonts/lato_regular.ttf);
}

@font-face {
	font-family: 'rlwm';
	src: url(../fonts/raleway_medium.ttf);
}

@font-face {
	font-family: 'rlwsb';
	src: url(../fonts/raleway_sb.ttf);
}

@font-face {
	font-family: 'rlwr';
	src: url(../fonts/raleway-regular.ttf);
}


/* Variables */

/* Single-team */

#single-team {
	font-family: 'rlwm';
	height: 100%;
	width: 100%;

	display: flex;

}

#single-team h1 {
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

#single-team header {
	background-color: #3e17e7;
	color: white;
}

#single-team ul {
	width: 100%;
}

#single-team a {
	text-decoration: none;
	color: white;
	font-family: "lato";
	font-size: 24px;
}

#single-team a:hover {
	color: black;
}



#single-team #vertical {
	font-size: 25px;
	margin-top: 50px;
	border-right: 1px solid #516dbf;
}

#single-team #content #like {
	font-size: 2em;
	margin-top: 1%;

}

#single-team #content #like h2 {
	padding-top: 10%;
	color: #ed335b;
}

#single-team #content #like ul {
	list-style-type: none;
}

#single-team .grid {
	margin-top: 50px;
	display: flex;
}

#single-team #content #like ul li:before {
	content: '- ';
}

#single-team #content .infos {
	border: 1px solid black;
	height: 30vh;
	overflow: hidden;
	margin: 10px;
}

#single-team #content .infos p {
	font-size: 10px;
	text-align: justify;
	line-height: 20px;
	font-family: "rlwr";
}

#single-team .btn {
	background-color: #ed335b;
	color: white;
	margin-top: 5%;
}

#single-team footer {
	height: 2vh;
	background-color: #3e17e7;
}



/* Post-grid */

#post-grid {
	height: 100%;
	width: 100%;
	background-color: #eceff1;

}

#post-grid .ctnf {
	background-color: #eceff1;
	color: #248cf6;
	font-family: 'rlwm';
}

#post-grid header {
	background-color: #1e77d3;
}

#post-grid header ul {
	width: 100%;
}

#post-grid header ul li {
	display: inline;
}

#post-grid header ul li a {
	text-decoration: none;
	color: white;
	font-family: "lato";
	font-size: 24px;
}

#post-grid .searchbar {
	padding-top: 10px;
	padding-bottom: 10px;
}

#post-grid header ul li a:hover {
	color: black;
}



#post-grid .card {
	margin-top: 2%;
	margin-bottom: 2%;
	height: 60vh;
	overflow: hidden;
}

#post-grid .sous-titre {
	font-size: 12px;
}

#post-grid .card-text {
	font-size: 12px;
	font-family: "rlwr";
	text-align: justify;
}

#post-grid .card-body {
	padding-top: 0;
}

#post-grid .card h3 {
	font-family: 'rlwm';
	border-bottom: 3px solid #cfcfcf;
	font-size: 20px;
}

#post-grid footer {
	height: 2vh;
	background-color: #1e77d3;
}

@media (max-width: 720px) {

	.hidden {
		display: none;
	}

	#single-team a {
		font-size: 12px;
		display: inline-block;
	}

	#single-team #content #like ul li {
		font-size: 20px;
	}

	#post-grid header ul li a {
		font-size: 12px;
		display: inline-block;
	}

	#post-grid li {
		font-size: 20px;
	}


}


/* FONTS */

@font-face {
	font-family: 'cool';
	src: url(../fonts/coolveticarg.ttf)
}

@font-face {
	font-family: 'lato';
	src: url(../fonts/lato_regular.ttf)
}

@font-face {
	font-family: 'rlwm';
	src: url(../fonts/raleway_medium.ttf)
}

@font-face {
	font-family: 'rlwsb';
	src: url(../fonts/raleway_sb.ttf)
}


/* TEAM */

#flexC #team_grid div,
#flexC footer,
#flexC .navbar {
	background-color: #ed145b;
}

#flexC #team_grid div {
	height: 27vh;
	border: 1px solid white;
}

#flexC footer {
	height: 2vh;
}

#flexC .p_team {
	font-family: 'cool';
	font-size: 54px;
	color: white;
	text-transform: uppercase;
}

#flexC #team_grid {
	margin-top: auto;
	margin-bottom: auto;
}

#flexC #ctn {
	height: auto;
}

#flexC .container-fluid {
	padding: 0;
}

#flexC {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#ul_team {
	width: 100%;
}

#flexC .a_team {
	text-decoration: none;
	color: white;
	font-family: "lato";
	font-size: 24px;
}

#flexC a:hover {
	color: black;
}

@media (max-width: 720px) {

	#flexC .a_team {
		font-size: 12px;
		display: inline-block;
	}

	#flexC .p_team {
		font-size: 20px;
	}

	#flexC #team_grid div {
		height: 22vh;
		border: 1px solid white;
	}

	#flexC li {
		display: inline;
	}


}

.fp-controlArrow.fp-next {

	border-color: transparent transparent transparent black;

}

.fp-controlArrow {
	top:70%
}

.fp-controlArrow.fp-prev {
	border-color: transparent black transparent transparent;
}

@media (max-width: 720px) {

	#accueil h1 {
		font-size: 40px;
	}
	#accueil .titre {
		padding-left: 23%;
	}
	#accueil #stitre {
		font-size: 20px;
	}
	#accueil .navbar {
		font-size: 15px;

	}
	#accueil ul {
		padding-right: 15px;
	}

	.about h3 {
		font-size: 28px;
	}

	.about #quand {
		font-size: 15px;
	}
	.about #quoi {
		font-size: 15px;
	}
	.about .mot {
		font-size: 15px;
	}
	.about .if {
		font-size: 15px;
	}
	.about .chevron {
		margin-left: 9%;
	}



}
