@media (max-width: 480px) {

	h1{
		font-size: 40px;
	}
	.titre{
		padding-left: 23%;
	}
	#stitre{
		font-size: 20px;
	}
	.navbar{
		font-size: 15px;

	}
	ul{
		padding-right: 15px;
	}
	/*===   about ====*/
	h3{
	font-size: 28px;
	}

	#quand{	
		font-size: 15px;
	}
	#quoi{
		font-size: 15px;
	}
	.mot{
	font-size: 15px;
	}
	.if{
		font-size: 15px;
	}
	.chevron{
		margin-left: 9%;
	}



}